<div class="mt-4 col-8 offset-2">

  <div class="card">

    <div class="card-header">Register form (step 2/2)</div>

    <div class="card-body">

      <!-- Register form -->
      <form #f="ngForm" (ngSubmit)="onRegisterAdministrative(f)">

        <!-- Home address -->
        <p class="font-weight-bold">Home Address</p>
        <!-- region -->
        <div class="form-group row">
          <label for="inputHomeRegion" class="col-sm-2 col-form-label">Region</label>
          <div class="col-sm-10">
            <input type="string" name="homeRegion" class="form-control" id="inputHomeRegion" ngModel required>
          </div>
        </div>
        <!-- city -->
        <div class="form-group row">
          <label for="inputHomeCity" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-10">
            <input type="string" name="homeCity" class="form-control" id="inputHomeCity" ngModel required>
          </div>
        </div>
        <!-- street -->
        <div class="form-group row">
          <label for="inputHomeStreet" class="col-sm-2 col-form-label">Street</label>
          <div class="col-sm-10">
            <input type="string" name="homeStreet" class="form-control" id="inputHomeStreet" ngModel required>
          </div>
        </div>
        <!-- number -->
        <div class="form-group row">
          <label for="inputHomeNumber" class="col-sm-2 col-form-label">Number</label>
          <div class="col-sm-10">
            <input type="string" name="homeNumber" class="form-control" id="inputHomeNumber" ngModel required>
          </div>
        </div>

        <!-- Contact address -->
        <p class="font-weight-bold">Contact Address</p>
        <!-- region -->
        <div class="form-group row">
          <label for="inputContactRegion" class="col-sm-2 col-form-label">Region</label>
          <div class="col-sm-10">
            <input type="string" name="contactRegion" class="form-control" id="inputContactRegion" ngModel required>
          </div>
        </div>
        <!-- city -->
        <div class="form-group row">
          <label for="inputContactCity" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-10">
            <input type="string" name="contactCity" class="form-control" id="inputContactCity" ngModel required>
          </div>
        </div>
        <!-- street -->
        <div class="form-group row">
          <label for="inputContactStreet" class="col-sm-2 col-form-label">Street</label>
          <div class="col-sm-10">
            <input type="string" name="contactStreet" class="form-control" id="inputContactStreet" ngModel required>
          </div>
        </div>
        <!-- number -->
        <div class="form-group row">
          <label for="inputContactNumber" class="col-sm-2 col-form-label">Number</label>
          <div class="col-sm-10">
            <input type="string" name="contactNumber" class="form-control" id="inputContactNumber" ngModel required>
          </div>
        </div>



        <!-- submit -->
        <div class="form-group row">
          <div class="col-sm-10 offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
          </div>
        </div>

      </form>

    </div>

  </div>

</div>
