.navbar-brand {
  font-size: 16px !important;
}

ul.ngx-pagination {
  display: flex !important;
  justify-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#app > div > app-list > div.content.row.mt-4 > div > pagination-controls > pagination-template > ul > li.current {
  background-color: #17a2b8 !important;
}
